  <h1><%= "Instrumento #{@instrument.id}" %></h1>
<ul>
  <li><%= @instrument.question_1 %></li>
  <li><%= @instrument.question_2 %></li>
  <li><%= @instrument.question_3 %></li>
  <li><%= @instrument.question_4 %></li>
  <li><%= @instrument.question_5 %></li>
</ul>
